.Navbar{
    padding-top: 20px;
    background-color: #1C252E;
    display: flex;
    justify-content:center;
    &__Search{
          margin-left: 3rem;
      background-color:  #262d35;
        height: max-content;
        width: max-content;
        border-radius: 5px;
     color: rgb(112, 112, 112);
     i{
        padding: 0px 15px;
     }
    input{ 
          background-color:  #262d35;
        width:18rem;
      height: 1.9rem;
     border:none;
    }
    input::placeholder{
        border: none;
        font-size: 0.9rem;
       color: rgb(112, 112, 112);
    }
    input:focus{
        border: none;
        background-color: azure;
    }
    input:active{
        border: none;
    }

}
&__form{
    form{
        margin-left: 2rem;
         display: flex;
    }
     i{
        padding: 0px 15px;
     }
    .id ,.pw .password{
       margin-left: 1rem;
         background-color:  #262d35;
        height: max-content;
        width: max-content;
        border-radius: 5px;
     color: rgb(31, 182, 14);
     .text{
        color: rgb(173, 173, 173);
        font-size: 13px;
     }
   
     input{ 
          background-color:  #262d35;
        width:8rem;
        height: 1.8rem;
     border:none;
    }
    input::placeholder{
        border: none;
        font-size: 0.9rem;
       color: rgb(112, 112, 112);
    }
    input:focus{
        border: none;
        background-color: azure;
    }
    input:active{
        border: none;
    }
}
button{
    background-color: none;
     border: none;
     font-size: 0.9rem;
     
}
 .Login{
    margin-left: 1rem;
    background-color: rgb(13, 154, 13);
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 3px;
     color: rgb(202, 202, 202);
       width:5.2rem;
       height: 2.2rem;
   
 }
 .Register{
    color: rgb(21, 185, 21);
      background-color: #1C252E;
    margin-left: 0.3rem;
        padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(21, 204, 21);
     border-radius:3px;
     width:5rem;
       height: 2.2rem;
 }
}}